[Unit]
Description=uWSGI instance to serve CBUDASH
After=network.target

[Service]
User=cbdsh
Group=www-data
WorkingDirectory=/home/cbdsh/cbudash
Environment="PATH=/home/cbdsh/cbudash/venv/bin"
ExecStart=/home/cbdsh/cbudash/venv/bin/uwsgi --ini config/cbudash.ini

[Install]
WantedBy=multi-user.target